*{
    background-color: #ecf0f3;
}
.container {
    text-align: center;
    /* margin-top: 140px; */
    box-shadow: inset 5px 5px 12px #ffff,
                5px 5px 12px rgba(0,0,0,.16);
    background-color: #ecf0f3;
    width: 332px;
    /* margin-left: 559px; */
    height: 479px;
    border-radius: 37px;
    margin:auto;
}
table{
    margin:auto;
}
input{
    font-size:28px;
    height:40px;
    box-shadow: inset -5px -5px 12px #ffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
 background-color: #ecf0f3;
 border:none;
 height: 46px;
    width: 301px;
    border-radius: 20px;
    padding: 15px 4px;
    margin-top: 50px;
    color:grey;

}
button{
    height: 61px;
    font-size: 22px;
    width: 66px;
    border-radius: 40px;
    box-shadow:  -5px -5px 12px #ffff,
     5px 5px 12px rgba(0,0,0,.16);
     background-color: #ecf0f3;
     border: none;
}
button:hover{
    background-color: rgba(235, 222, 222, 0.795);
    text-decoration:bold;
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(123 116 116);
    text-decoration:underline;
    cursor: pointer;
    
}
h1:hover{
color:rgb(66, 63, 63); ;
}
footer{
    line-height: 5;
    text-align: center;
    font-size:12px;
}